.project
.tags_sorted_by_file
.tox
dist
*.py[cod]
sdist
.installed.cfg
.tags
# Installer logs
pip-log.txt
*.so
develop-eggs
*.egg
parts
build
var
lib64
# Unit test / coverage reports
bin
nosetests.xml
.pydevproject
eggs
*.egg-info
# C extensions
# Translations
# Packages
lib
# Mr Developer
__pycache__
.coverage
*.mo
.mr.developer.cfg